@page "/munka/add"

@inject IMunkakService MunkakService
@inject NavigationManager NavigationManager
@using AutoSzerelo.UI.Services
@using AutoSzerelo.UI.Components

<h3>Munka hozzáadása</h3>
<MunkaForm Munka="_munka" OnValidSubmit="AddMunkaAsync" ButtonText="Add" />

@code {

    private Shared.Munka _munka = new()
    {
        MunkaAllapota = 1,
    };
    


    private async Task AddMunkaAsync()
    {
        
        await MunkakService.AddAsync(_munka);
        NavigationManager.NavigateTo("munka");
    }

    
}