@page "/munka/{id:guid}"

@using AutoSzerelo.UI.Services
@using AutoSzerelo.UI.Components
@inject IMunkakService MunkakService
@inject NavigationManager NavigationManager


@if (_munka is not null && !_errored)
{
    <h3>Munka részletek</h3>

    <MunkaForm Munka="_munka" OnValidSubmit="UpdateAsync" ButtonText="Frissités" />

    <button class="btn btn-danger form-control mt-3" @onclick="() => DeleteAsync()">Törlés</button>
}
else if (_errored)
{
    <div class="alert alert-danger">
        Munka nem létezik
    </div>
}
else
{
    <p>Betöltés...</p>
}


@code {
    
    private bool _errored = false;
    private Shared.Munka _munka;
    
    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _munka = await MunkakService.GetAsync(Id);
        }
        catch (Exception)
        {
            _errored = true;
        }
    }

    private async Task DeleteAsync()
    {
        await MunkakService.DeleteAsync(Id);
        NavigationManager.NavigateTo("munka");
    }
    
    private async Task UpdateAsync()
    {
        await MunkakService.UpdateAsync(_munka);
        NavigationManager.NavigateTo("munka");
        
    }

    
}